<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background1.jpg" alt="World of Warcraft! Legion"></div>
</div>
<!--<div class="container">-->
  <div class="section">
    <div class="row">
      <div class="col s12 m3 l4">
        <div class="col m12 s12">
          <app-wowtoken></app-wowtoken>
        </div>
        <div class="col m12 s12">
          <app-wowrealmstatus></app-wowrealmstatus>
        </div>
      </div>
      <div class="col s12 m9 l7">
        <!--<div class="container">-->


          <div class="row">
            <div class="card">
              <div class="card-content">
                <div col="col m12 s12">
                  <h4 class="bold">Guias de 2 Min! - Pesadilla Esmeralda (N/H)</h4>
                  <h5 class="bold">Nythendra</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/n9dk_aOgWzE?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div col="col m12 s12">
                  <h5 class="bold">Il'gynoth, Corazon de la corrupción</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/Wy7UshIvRyo?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div col="col m12 s12">
                  <h5 class="bold">Elerethe Renferal</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/f7lhzlnnQW4?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div col="col m12 s12">
                  <h5 class="bold">Ursoc</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/AQd5kdJ7OlE?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div col="col m12 s12">
                  <h5 class="bold">Dragones de Pesadilla</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/11tSo8-Mey8?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div col="col m12 s12">
                  <h5 class="bold">Cenarius</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/1C4ijqIgytk?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>

                <div col="col m12 s12">
                  <h5 class="bold">Xavius</h5>
                  <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/qpwb60z6bvw?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--</div>
    </div>-->
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <h5 class="header col s12 light">God Save the Queen!</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/Sylvanas.fw.png" alt="God Save the Queen!">
  </div>
</div>
