<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax">
    <section id="slider">
      <video autoplay="" poster="assets/slide2.jpg" id="bgvid" loop="">
        <source src="assets/videos/header-illidan.webm" type="video/webm">
        <source src="assets/videos/header-illidan.mp4" type="video/mp4">
      </video>
    </section>
    <!--<img src="assets/background1.jpg" alt="World of Warcraft! Legion">-->
  </div>
</div>
<!--<div class="container">-->
<div class="section">
  <div class="row">
    <div class="col s12 m3 l4">
      <div class="col m12 s12">
        <app-wowtoken></app-wowtoken>
      </div>
      <div class="col m12 s12">
        <app-wowrealmstatus></app-wowrealmstatus>
      </div>
    </div>
    <div class="col s12 m9 l7">
      <div class="row" *ngFor="let banda of raids">
        <div class="card">
          <div class="card-content">
            <h4 class="bold colorNagaMolten">Guias de 2 Min! - {{banda.name}} (N/H)</h4>
            <div class="row">
              <div class="col l4 m4 s4" *ngFor="let boss of banda.raid" (click)="openVideo(boss)">
                <a href="#modal1">
                  <div class="card center-align">
                    <img class="responsive-img" src="assets/raids/{{banda.imgpath}}/{{boss.boss_image}}.png">
                    <p class="truncate">
                      {{boss.boss_name}}
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- WoWHeadLinksExample -->
      <!--<a href="//www.wowhead.com/item=25697" class="q3" rel="gems=23121&amp;ench=2647&amp;pcs=25695:25696:25697">[Felstalker Bracers]</a>-->
      <div id="modal1" class="modal modal-close">
        <div class="modal-content">
          <div class="video-container">
            <iframe width="853" height="480" [src]="current_url | safe" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <h5 class="header col s12 light">Lok'tar Ogar</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="assets/OrcOp.png" alt="God Save the Queen!">
    </div>
  </div>