<div class="navbar">
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="." class="brand-logo">
      <img src="assets/Logo.fw.png" class="responsive-img" alt="Naga Molten! <Ragnaros - US> - Horde">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/members">Integrantes</a></li>
        <li><a routerLink="/recruitment">Juega con NagaMolten</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a routerLink="/" onclick="$('.button-collapse').sideNav('hide');">Inicio</a></li>
        <li><a routerLink="/members" onclick="$('.button-collapse').sideNav('hide');">Integrantes</a></li>
        <li><a routerLink="/recruitment" onclick="$('.button-collapse').sideNav('hide');">Juega con NagaMolten</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>