<div class="navbar">
  <!--<ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a href="#" (click)="auth.logout()">Logout</a></li>
  </ul>-->
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="." class="brand-logo">
      <img src="assets/Logo.fw.png" class="responsive-img" alt="Naga Molten! <Ragnaros - US> - Horde">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/members">Integrantes</a></li>
        <!--<li><a routerLink="/login">Login</a></li>-->
        <li><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</a></li>
        <li><a routerLink="/profile" *ngIf="auth.authenticated()">Profile</a></li>
        <li><a href="#" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</a></li>
        <!-- Dropdown Trigger -->
        <!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1" *ngIf="auth.authenticated()">Cuenta<i class="material-icons right">arrow_drop_down</i></a></li>-->

        <!--{{profile.given_name}}-->
        <li><a routerLink="/recruitment" *ngIf="!auth.authenticated()">Juega con NagaMolten</a></li>        
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a routerLink="/" onclick="$('.button-collapse').sideNav('hide');">Inicio</a></li>
        <li><a routerLink="/members" onclick="$('.button-collapse').sideNav('hide');">Integrantes</a></li>
        <!--<li><a routerLink="/login" onclick="$('.button-collapse').sideNav('hide');">Login</a></li>-->
        <li><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</a></li>
        <li><a routerLink="/profile" onclick="$('.button-collapse').sideNav('hide');" *ngIf="auth.authenticated()">Profile</a></li>
        <li><a href="#" (click)="auth.logout()" onclick="$('.button-collapse').sideNav('hide');" *ngIf="auth.authenticated()">Logout</a></li>
        <li><a routerLink="/recruitment" onclick="$('.button-collapse').sideNav('hide');" *ngIf="!auth.authenticated()" >Juega con NagaMolten</a></li>        
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>