<div class="navbar">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="." class="brand-logo">
      <img src="assets/Logo.fw.png" class="responsive-img" alt="Naga Molten! <Ragnaros - US> - Horde">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="." href=".">Inicio</a></li>
        <li><a href="#">Integrantes</a></li>
        <li><a href="#">Reclutando</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Integrantes</a></li>
        <li><a href="#">Reclutando</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

</div>