<div class="parallax-container valign-wrapper">
  <div class="section">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background-login.jpg" alt="World of Warcraft! Legion"></div>
</div>
<br>
<br>
<form id="form_login">
  <div class="container">
    <div class="container center-align">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

<h5>Por favor, diligencie el siguiente formulario para crear su cuenta</h5>
<p>Si ya tiene una cuenta <a routerLink="/login">inicie sesion.</a> </p>

<form class="col s12" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

  <div class='row'>
    <div class='col s12'>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12' [ngClass]="{'has-error': f.submitted && !username.valid }">
      <input type='text' name='username' id='username' class="validate" [(ngModel)]="model.username" #username="ngModel" required
      />
      <label for='username'>Nombre a mostrar</label>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Nombre de usuario es requerido.</div>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12' [ngClass]="{'has-error': f.submitted && !username.valid }">
      <input type='email' name='email' id='email' class="validate" [(ngModel)]="model.email" #email="ngModel" required />
      <label for='email'>Correo electronico</label>
      <div *ngIf="f.submitted && !email.valid" class="help-block">Correo electronico es requerido.</div>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12' [ngClass]="{'has-error': f.submitted && !password.valid }">
      <input type='password' name='password' id='password' class="validate" [(ngModel)]="model.password" #password="ngModel" required
      />
      <label for='password'>Contraseña</label>
    </div>
  </div>

  <div class='row'>

    <button [disabled]="loading" name='btn_login' class='col s12 btn btn-large waves-effect colorbackNagaMolten'>Crear Cuenta</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
    <a [routerLink]="['/login']" class='col s12 btn btn-large waves-effect colorbackNagaMolten'>Cancelar</a>
  </div>
</form>
</div>
</div>
</div>
</form>