<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <img src="assets/ArrowDown.fw.png" *ngIf="!realm.status" class="responsive-img center-block" alt="">
                <img src="assets/ArrowUp.fw.png" *ngIf="realm.status" class="responsive-img center-block" alt="">
                <h5 class="center colorNagaMolten">Estado del Servidor</h5>
                <p class="light center-align">World of Warcraft - Ragnaros</p>
            </div>
        </div>
    </div>
</div>