<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
          <h3>404: no se encuentra la pagina! </h3>
          <p>
            Ups! la pagina que estas buscando no existe o ha sido movida de lugar.
          </p>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/VI52TXX81DOB1472165786921.jpg">
    <!--<img src="assets/background1.jpg" alt="World of Warcraft! Legion">-->
  </div>
</div>





