/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* label focus color */


.page-item .active{
  background-color: #36D900 !important;
}


.pagination li {
    background-color: #36D900 !important;
}

.pagination li.active {
    background-color: #36D900 !important;
}


 .input-field input:focus + label {
   color: #36D900 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #36D900 !important;
   box-shadow: 0 1px 0 0 #36D900 !important
 }

 
.btnNagaMolten
{
    /*color: #36D900;*/
    background-color: #36D900 !important;
    color: #FFF;
}

p {
  line-height: 2rem;
}

.button-collapse {
  /*color: #36D900;*/
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.cursorpointer{
  cursor:pointer;
}
