<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background-Horde.jpg" alt="World of Warcraft! Legion"></div>
</div>

<div class="container">
  <h2>
    Integrantes
  </h2>
  <p>
    Estos son algunos de los miembros de la guild NagaMolten!
  </p>

  <table class="table-responsive highlight">
    <thead>
      <tr>
        <th data-field="img">Foto</th>
        <th data-field="name">Nombre</th>
        <th data-field="rol">Rol</th>
        <th data-field="race">Rol Desc</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let guildmember of guildmembers">
        <td>
          <img src="http://render-api-us.worldofwarcraft.com/static-render/us/{{guildmember.character.thumbnail}}" alt="">
        </td>
        <td>{{guildmember.character.name}}</td>
        <td>
          <img src="http://media.blizzard.com/wow/icons/36/{{guildmember.character.spec.icon}}.jpg" alt="">
        </td>
        <td>{{guildmember.character.spec.role}}</td>
      </tr>






      <!--<tr>
        <td>Foto</td>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Foto</td>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Foto</td>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>-->
    </tbody>
  </table>
</div>