<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background-Horde.jpg" alt="World of Warcraft! Legion"></div>
</div>

<div class="container">
  <h2>
    Integrantes
  </h2>
  <p>
    Estos son los miembros de la guild NagaMolten!
  </p>

  <table class="table-responsive highlight">
    <thead>
      <tr>
        <th data-field="img">Foto</th>
        <th data-field="name">Nombre</th>
        <th data-field="rol">Especialización</th>
        <th data-field="race" class="hide-on-small-only">Función</th>
      </tr>
    </thead>

    <tbody>
      <!--<tr *ngFor="let guildmember of guildmembers | paginate: { itemsPerPage:10, currentPage: p}" (click)="abretesesamo(guildmember)" class="cursorpointer">-->
      <tr *ngFor="let guildmember of guildmembers" (click)="abretesesamo(guildmember)" class="cursorpointer">
        <td>
          <div *ngIf="guildmember.character.level > 20">
            <img src="http://render-us.worldofwarcraft.com/character/{{guildmember.character.thumbnail}}" alt="">
          </div>
          <div *ngIf="guildmember.character.level < 20">
            <img src="http://us.battle.net/wow/static/images/2d/avatar/10-0.jpg" alt="">
          </div>
        </td>
        <td>
          <h5>
            {{guildmember.character.name}}
          </h5>
        </td>
        <td>
          <div *ngIf="guildmember?.character?.spec">
            <p>
              <img src="http://media.blizzard.com/wow/icons/36/{{guildmember.character?.spec?.icon}}.jpg" alt=""> {{guildmember.character?.spec?.name}}
            </p>
          </div>

          <div *ngIf="!guildmember?.character?.spec">
            -
          </div>
        </td>
        <td class="hide-on-small-only">
          <div *ngIf="guildmember?.character?.spec">
            <img src="assets/_{{guildmember?.character?.spec?.role}}.jpg" alt="">
          </div>
          <div *ngIf="!guildmember?.character?.spec">
            -
          </div>
          <div>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <!-- CHANGED THE DIV BELOW (Changed size to col s10 offset-s1 
    to match the divs above and added center-align -->
    <div class="col s10 offset-s1 center-align" *ngIf="loadall">
      <button class="btn waves-effect waves-light colorNagaMolten" name="action" (click)="loadMore()">
            Cargar mas...            
        </button>
    </div>
  </div>
  <br>
  <br>
  <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
</div>