<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/background-login.jpg" alt="World of Warcraft! Legion">
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s3 m1 l1 center-align">
          <img class="circle" style="margin-top: 30px; width: 100%" src="{{profile.picture}}" />
</div>
<div class="col s9 m11 l11">
  <h4> {{profile.nickname}}, Bienvenido de nuevo! :) </h4>
  <p>ultima actualizacion: {{profile.created_at}}</p>
</div>
</div>
</div>
</div>
</div>