<!--<div class="col s12 m4">    -->
<!--<img src="assets/WowToken.png" class="responsive-img center-block" alt="">
<h5 class="center">Ficha de WoW</h5>
<p class="light">Actualmente en Ragnaros la ficha esta en un precio de <strong>{{token.buy}}</strong></p>-->
<!--</div>-->
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <img src="assets/WowToken.png" class="responsive-img center-block" alt="">
                <h5 class="center">Ficha de WoW</h5>
                <p class="light center-align">Actualmente en Ragnaros la ficha esta en un precio de <strong>{{token.buy}}</strong></p>
            </div>
        </div>
    </div>
</div>